@model BridalBoutique.ViewModels.CategoryProductViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Welcome to admin panel</h1>
<p>Please navigate to required menu</p>


