
body {
    padding-top: 50px;
    padding-bottom: 20px;
    color:#ffffff !important;
    background-color:transparent;
    font-family: serif, 'Times New Roman', Arial !important;

}
h1,h2,h3,h4{ color:#ffffff !important; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: serif, 'Times New Roman', Arial !important;
    font-weight: 500;
    line-height: 1.1;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top:20px;

}


/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.Bgimage {
    background-image: url('Images/bg5.jpg') !important;
}
.panelBg { 
    background:none;
    background: rgba(54, 25, 25, .5) !important;
    padding:30px 10px;
 }
.lead { color:#ececec;  }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.nav>li>a {
   margin: 0 10px;
}

.nav>li>a:hover, .nav>li>a:focus {
    margin: 0px 10px;
}

  @media only screen and (max-width: 320px) {

    .mWidth100 {width: 100%;}
    .lead{font-size:12px !important;}
    .body-content {
        padding-top: 100px !important;
    }
}



